<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Back', companies_path, class: 'btn btn-info pull-right' %>
    <h2><%= @company.name %></h2>
    <p><%= @company.founded_date %></p>
    <p><%= @company.location.state %></p>
    <p><%= @company.location.city%></p>
    <p><%= @company.description %></p>
    <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
    <%= link_to 'Delete', @company, method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h2>Founders</h2>
    <%= link_to 'Add Founder', new_founder_path, class: 'btn btn-info pull-right' %>
  </div>
</div>