<ol class="breadcrumb">
  <li>
    <%= link_to 'Company Listing', companies_path %>
  </li>
  <li class="active">
    <%= @company.name %>
  </li>
</ol>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <h1><%= @company.name %> <small><%= @company.location %></small></h1>

  <!-- <a href="<%= edit_company_path(@company) %>" class="btn btn-default">Edit</a> -->

  <p>
    <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-default" %>
    <%= link_to 'Delete', company_path(@company), class: "btn btn-danger", method: :delete, data: { confirm: "Really delete '#{@company.name}'?" } %>
  </p>

  <br>

  <% if @company.date_founded && @company.date_founded.length > 0 %>
    <p>
      <b>Founded:</b> <%= @company.date_founded %>
    </p>
  <% end %>

  <div class="company-description">
    <%= simple_format(@company.description) %>
  </div>
</div>
